[submodule "Antenna/DSN"]
	path = Antenna/DSN
	url = git@github.com:SDRAST/Antenna_DSN.git
[submodule "BackEnds/DSN"]
	path = BackEnds/DSN
	url = git@github.com:SDRAST/BackEnds_DSN.git
[submodule "FrontEnds/K_band"]
	path = FrontEnds/K_band
	url = git@github.com:SDRAST/FrontEnds_K_band.git
[submodule "BackEnds/ROACH1"]
	path = BackEnds/ROACH1
	url = git@github.com:SDRAST/BackEnds_ROACH1.git
[submodule "FrontEnds/DSN"]
	path = FrontEnds/DSN
	url = git@github.com:SDRAST/FrontEnds_DSN.git
[submodule "Receivers/DSN"]
	path = Receivers/DSN
	url = git@github.com:SDRAST/Receivers_DSN.git
[submodule "Receivers/WBDC"]
	path = Receivers/WBDC
	url = git@github.com:SDRAST/Receivers_WBDC.git
[submodule "Configurations/CDSCC"]
	path = Configurations/CDSCC
	url = git@github.com:SDRAST/Configurations_CDSCC.git
[submodule "Configurations/GDSCC"]
	path = Configurations/GDSCC
	url = git@github.com:SDRAST/Configurations_GDSCC.git
